*.bw filter=lfs diff=lfs merge=lfs -text
1_bw/KO_48h_rep3.bw filter=lfs diff=lfs merge=lfs -text
1_bw/WT_0h_rep2.bw filter=lfs diff=lfs merge=lfs -text
1_bw/KO_0h_rep1.bw filter=lfs diff=lfs merge=lfs -text
1_bw/KO_24h_rep3.bw filter=lfs diff=lfs merge=lfs -text
1_bw/KO_6h_rep1.bw filter=lfs diff=lfs merge=lfs -text
1_bw/WT_6h_rep3.bw filter=lfs diff=lfs merge=lfs -text
1_bw/KO_6h_rep3.bw filter=lfs diff=lfs merge=lfs -text
1_bw/WT_0h_rep3.bw filter=lfs diff=lfs merge=lfs -text
1_bw/KO_0h_rep2.bw filter=lfs diff=lfs merge=lfs -text
1_bw/KO_0h_rep3.bw filter=lfs diff=lfs merge=lfs -text
1_bw/KO_24h_rep1.bw filter=lfs diff=lfs merge=lfs -text
1_bw/KO_24h_rep2.bw filter=lfs diff=lfs merge=lfs -text
1_bw/KO_48h_rep2.bw filter=lfs diff=lfs merge=lfs -text
1_bw/KO_6h_rep2.bw filter=lfs diff=lfs merge=lfs -text
1_bw/WT_24h_rep3.bw filter=lfs diff=lfs merge=lfs -text
1_bw/WT_48h_rep1.bw filter=lfs diff=lfs merge=lfs -text
1_bw/WT_6h_rep1.bw filter=lfs diff=lfs merge=lfs -text
1_bw/KO_48h_rep1.bw filter=lfs diff=lfs merge=lfs -text
1_bw/WT_24h_rep1.bw filter=lfs diff=lfs merge=lfs -text
1_bw/WT_24h_rep2.bw filter=lfs diff=lfs merge=lfs -text
1_bw/WT_48h_rep2.bw filter=lfs diff=lfs merge=lfs -text
1_bw/WT_48h_rep3.bw filter=lfs diff=lfs merge=lfs -text
1_bw/WT_6h_rep2.bw filter=lfs diff=lfs merge=lfs -text
